@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans: Roboto, sans-serif;

  --color-yellow-primary: #d4af37;
  --color-light-gray: rgba(240, 240, 240, 1);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.text-uppercase {
    text-transform: uppercase;
}

.active-nav {
    color: #D4AF37;
    font-weight: 600;
}

.mobile-menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.mobile-menu.show {
    transform: translateX(0);
}

body {
    font-family: 'Roboto', sans-serif;
}
